body{
    background-color: #1e1e1e;
}
.box{
    position: sticky;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: blue;
  
}
.container{
    width: 100px;
    height: 200vh;
    background-color: red;
   
}